<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Applications/Appium">
        <classes>
            <class name="TestCase.runnerTest">
                <methods>
                    <include name="testCreateWalletUnsuccessfullyManually"/>
                    <include name="testCreateWalletSuccessfullyManually"/>
                    <include name="testCreateWalletSuccessfullyGoogleDrive"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>